@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&family=JetBrains+Mono:wght@100;200;300;400&family=Source+Sans+Pro:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'JetBrains Mono', monospace;
font-family: 'Source Sans Pro', sans-serif; */
}

body {
  margin-top: 0;
  overflow-y: auto;
}

/* *---------------------------------------- NAVBAR --------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-top: 0;
  padding: 3rem;
  background-color: #232323;
}

/* logo */
.navbar img {
  width: 3.5rem;
  transition: all 0.3s ease-out;
}

.navbar img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

/* links */
.nav-links ul li {
  display: inline;
  margin-left: 3rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: light;
}

.nav-container {
  height: 100%;
  width: 100%;
}

.nav-links span {
  color: #1cdbfa;
}

.nav-links a {
  text-decoration: none;
  font-size: 12px;
}

.white-link {
  color: white;
  font-weight: lighter;
  transition: all 0.25s ease-out;
}

.white-link:hover {
  transition: all 0.25s ease-in;
  color: #1cdbfa;
}

.resume {
  border: 2px solid #1cdbfa;
  padding: 5px 8px;
  border-radius: 0.25rem;
  color: #1cdbfa;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.resume:hover {
  background-color: #1cdbfa;
  color: #232323;
  transition: all 0.3s ease-in;
}

/* hamburger menu */

.hamburger {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #1cdbfa;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* responsive navbar */
/* * mobile */
@media (max-width: 742px) {
  .nav-links ul li {
    display: none;
  }
  .navbar img {
    width: 2.5rem;
    transition: all 0.3s ease-out;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 2rem;
    height: 0.3rem;
  }
}

/* * desktop */
@media (min-width: 743px) {
  .hamburger {
    display: none;
  }
  .hamburger-menu {
    visibility: hidden;
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background-color: #232323;
  position: fixed;
  width: 100%;
  height: 100%;
}

.hamburger-menu li {
  list-style: none;
}

.hamburger-menu span {
  color: #1cdbfa;
}

.item {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 2rem;
  list-style: none;
  transition: all 0.25s ease-out;
  font-size: 20px;
}

.item:hover {
  transition: all 0.25s ease-in;
  color: #1cdbfa;
}

.hamburger-resume {
  color: #1cdbfa;
  font-weight: bold;
}

.show {
  display: block;
}

/* *---------------------------------------- HEADER --------------------------------------------*/

header {
  position: relative;
  background-color: #232323;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8vw;
  text-align: center;
}

.hi {

  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.14em solid #1cdbfa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.job {
  color: grey;
  margin: 2rem 16em;
  margin-bottom: 9rem;
  font-size: 1.3vw;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.job-title {
  color: #1cdbfa;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1cdbfa;
  }
  100% {
    border-color: transparent;
  }
}

header img {
  width: 3rem;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
}

/* TODO: Make typography responsive */